/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
#root > div > div {
  z-index: 99999 !important;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

/* Main Page */

/* .siteTitle {
  display: flex;
  font-size: 50px;
  justify-content: left;
  margin: 10px;
  text-decoration: none;
  color: black;
} */


header {
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 0 auto; */
}

/* .section {
  height: 300px;
} */

/* nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: whitesmoke;
  height: 400px;
  width: 19%;
  font-size: 25px;
} */

/* ---- Navigation ---- */

nav {
  margin: 0;
}

nav ul {
  background-color: rgb(111, 123, 164)
}

.btn {
  display: flex;
  background-color: navy;
  width: 100%;
  left: 0;
  font-size: 40px;
  padding: 10px;
  height: 75px;
}

.btn:hover {
  background-color: rgb(111, 123, 164);
}

.navbutton {
  display: flex;
  width: 100%;
  left: 0;
  justify-content: left;
}



/* #sidenav_2.sidenav {
  vertical-align: center;
} */

/* .SideNav {
  justify-content: left;
} */

.quizLink {
  text-decoration: none;
  color: navy;
  font-size: 25px;
  margin: 5px;
}

/* .user-view {
  height: 200px;
  width: 100%;
  background-size: cover;
} */


/* ---- Quiz ---- */



.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 79%; */
  margin: 10px;
}

.quizHeader {
  background-color: rgb(255, 254, 250);
  width: 80%;
  margin: 15px auto;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px gray;
  padding: 5px;
}

/* .answer{
  display: flex;
  flex-direction: column;
} */

.quizImg {
  width: 40%;
  margin-bottom: 40px;
}

.instructions {
  width: 50%;
}

/* ---- Each Question ---- */

.questionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 247, 250);
  margin: 15px auto;
  width: 80%;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px gray;
}

.questionNumber {
  font-family: 'Lato', sans-serif;
}

.questionImg {
  width: 40%;
  /* border: solid 1px gray;
  padding: 3px; */
  box-shadow: 2px 2px 5px gray;
  border: 1px solid black;
}

.question {
  border: solid 1px black;
  /* display: block; */
  display: flex;
  flex-direction: column;
  background-color: rgb(111, 123, 164);
  margin: 0 auto;
  text-align: center;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: black;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: indigo;
  border: indigo;
}

/* ---- Scoring ---- */

.questionScored {
  border: solid 2px black;
  display: none;
}

.score {
  display:none;
}

.scoreShowing {
  display:block;
  font-size: 40px;
  margin: 200px auto;
  background-color: whitesmoke;
  width: 60%;
  /* height: 100px; */
  padding: 20px;
  color: black;
}

.submit {
  padding: 15px;
  font-size: 25px;
  margin: 10px;
  box-shadow: 2px 2px 5px gray;
  border: 1px solid black;
}

@media (max-width) {
  .navBar {
    width: 100%;
  }
}




/* .circle {
  display: flex;
  border: solid 2px black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
} */

/* .black {
  background-color: black;
  display: flex;
  border: solid 2px black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
}

.blank {
  background-color: white;
  display: flex;
  border: solid 2px black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
} */
