/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
#root > div > div {
  z-index: 99999 !important;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

/* Main Page */

/* .siteTitle {
  display: flex;
  font-size: 50px;
  justify-content: left;
  margin: 10px;
  text-decoration: none;
  color: black;
} */


header {
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 0 auto; */
}

.siteTitle {
  font-family: 'Domine', serif;
  color: rgb(3, 83, 133);
}

.abbreviations {
  display: flex;
  flex-direction: column;
}

.grey-text {
  font-size: 1.3rem;
}


/* ---- Navigation ---- */

nav {
  margin: 0;
}

nav ul {
  background-color: rgb(111, 123, 164)
}

.btn {
  display: flex;
  background-color: navy;
  width: 100%;
  left: 0;
  font-size: 40px;
  padding: 10px;
  height: 75px;
}

.btn:hover {
  background-color: rgb(111, 123, 164);
}

.navButton {
  display: flex;
  width: 60%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(242, 251, 255); */
  border: 5px double gray;
  border-radius: 3px;
  margin: 10px;
}

.quizList {
  border: 1px solid black;
  padding: 8px;
  /* background-color: rgb(3, 83, 133); */
  color: rgb(3, 83, 133);
}

.quizLink {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin: 5px;
  font-family: 'Playfair Display', serif;
}

.quizLink:hover {
  color: rgb(3, 83, 133);
}

/* ---- Quiz ---- */

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 79%; */
  margin: 10px;
  width: 95%;
}

.quizTitle {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: rgb(3, 83, 133);
}

.quizDescription {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.quizHeader {
  background-color: white;
  width: 80%;
  margin: 15px auto;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px gray;
  padding: 5px;
}

.quizImg {
  width: 40%;
  margin-bottom: 40px;
}

.instructions {
  width: 50%;
}

/* ---- Each Question ---- */

.questionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(244, 247, 250); */
  margin: 15px auto;
  width: 80%;
  border: 1px solid black;
  box-shadow: 2px 2px 5px gray;
  border-radius: 3px;
  background-color: white;
}

.questionNumber {
  font-family: 'Playfair Display', serif;
  color: rgb(3, 83, 133);
}

.questionImg {
  width: 40%;
  /* border: solid 1px gray;
  padding: 3px; */
  box-shadow: 2px 2px 5px gray;
  border: 1px solid black;
  border-radius: 2px;
}

.question {
  border: solid 1px black;
  border-radius: 2px;
  /* display: block; */
  display: flex;
  flex-direction: column;
  /* background-color: rgb(3, 83, 133); */
  margin: 0 auto;
  text-align: center;
  background-color: rgb(244, 247, 250);
}

.instructions {
  font-size: 1.4rem;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: black;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: rgb(7, 28, 97);
  border: rgb(7, 28, 97);
}

/* ---- Scoring ---- */

.questionScored {
  border: solid 2px black;
  display: none;
}

.score {
  display:none;
}

.scoreShowing {
  display:block;
  font-size: 50px;
  margin: 40px auto;
  background-color: rgb(3, 83, 133);
  width: 100%;
  /* height: 100px; */
  padding: 20px;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
}

.answerKey {
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  /* color: rgb(3, 83, 133); */
  text-decoration: underline;
}

.questionKey {
  font-size: 1.8rem;
  width: 70%;
  border: 1px solid black;
  border-radius: 3px;
  /* background-color: rgb(244, 247, 250); */
  background-color: white;
  color: black;
}

.questionKeyList {
  font-family: 'Montserrat', sans-serif;
}

.correctAnswers {
  font-size: 2.2rem;
  font-family: 'Playfair Display', serif;
  color: rgb(3, 83, 133);
}

.submit {
  padding: 15px;
  font-size: 25px;
  margin: 10px;
  box-shadow: 2px 2px 5px white;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  background-color: rgb(3, 83, 133);;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.submit:active {
  background-color: gray;
  color: black;
}

/* @media (max-width) {
  .navBar {
    width: 100%;
  }
} */


