/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* ---- Quiz ---- */

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizHeader {
  background-color: rgb(255, 254, 250);
  width: 80%;
  margin: 15px auto;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px gray;
  padding: 5px;
}

.answer{
  display: flex;
  flex-direction: column;
}

.quizImg {
  width: 40%;
  margin-bottom: 40px;
}

.instructions {
  width: 50%;
}

/* ---- Each Question ---- */

.questionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 247, 250);
  margin: 15px auto;
  width: 80%;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px gray;
}

.questionImg {
  width: 40%;
  /* border: solid 1px gray;
  padding: 3px; */
  box-shadow: 2px 2px 5px gray;
  border: 1px solid black;
}

.question {
  border: solid 2px black;
  display: block;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- Scoring ---- */

.questionScored {
  border: solid 2px black;
  display: none;
}

.score {
  display:none;
}

.scoreShow {
  display:block;
}



/* .circle {
  display: flex;
  border: solid 2px black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
} */

/* .black {
  background-color: black;
  display: flex;
  border: solid 2px black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
}

.blank {
  background-color: white;
  display: flex;
  border: solid 2px black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
} */
